.about_me {
  display: flex;
  flex-wrap: wrap;
}

.about_me div {
  width: 50%;
  margin-top: 1%;
}

.about_me img#my_pic {
  width: 100%;
}

.about_me img {
  width: 33.33%;
}

@media screen and (max-width: 650px) {
  .about_me div {
    width: 100%;
  }

  .about_me img {
    width: 100%;
  }
  
}