.footer {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.foot-socials > a {
  font-size: 2em;
}

.social-holders {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0;
}

.social-holders a {
  font-size: 2em;
  margin-left: 1em;
}

.social-holders .twitter {
  color: lightblue;
}

.social-holders .linkedln {
  color: darkblue;
}

.social-holders .github, .social-holders .medium {
  color: black;
}

.social-holders .insta {
  color: #3f729b;
}

.foot-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer p {
  text-align: center;
}
.footer p a {
  color: #28a386;
}

.mail-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.mail-form input, .mail-form textarea {
  width: 80%;
  border-radius: .5em;
  outline: none;
}

.mail-form textarea {
  resize: none;
}

.mail-form a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

@media screen and (max-width: 650px) {
  .footer > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .mail-form {
    width: 80%;
  }
  
}