.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Nav-bar h1 {
  margin-left: 5%;
  margin-top: 1%;
  font-size: 3em;
  color: #28a386;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);
  
}

.Nav-bar .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.Nav-bar .nav-item h3 {
  margin-left: .5em;
  margin-right: 3em;
  font-size: 1.5em;
  font-weight: 100;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svg-inline--fa {
  height: 5em
}

.fa-home {
  font-size: 2em;
  color: #28a386
}
