.Nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Nav-bar h1 {
  margin-left: 5%;
  margin-top: 1%;
  font-size: 5vw;
  color: #28a386;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
}

.Nav-bar .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

.Nav-bar .nav-item h3 {
  margin-left: .5em;
  margin-right: 3em;
  font-size: 1.5em;
  font-weight: 100;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .Nav-bar .nav-item h3 {
    margin-left: .1em;
    margin-right: 1em;
    font-size: 1.2em;
    font-weight: 100;
  }
  
  .Nav-bar .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
}

.svg-inline--fa {
  height: 5em
}

.nav-item .fa-home {
  font-size: 1.5em;
}

.fa-home {
  color: #28a386
}

.nav-item * {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  
}