.App {
  text-align: center;
  margin: auto;
  margin-top: 20%;
  width: 60%;
  padding: 10px;
  font-size: 1.4em;
}

.App > * {
  margin-bottom: .2%;
}

.App p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.App .name {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-style: italic;
}

.social-holders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.svg-inline--fa {
  height: 2em;
}

@media screen and (max-width: 700px) {
  .App {
    width: 80%;
    margin-top: 45%;
  }
  
  .App p {
    font-size: 5vw;
    margin-bottom: 10%;
  }

  .App .home_break {
    display: block;
    text-align: center;
  }
}