.short-note {
  width: 70%;
  line-height: 1.5em;
  margin-top: 1%;
}

.short-note > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  margin-bottom: 2em;
}

.short-note .social-holders {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.short-note .social-holders a {
  font-size: 1em;
  margin-left: .5em;
}

.short-note p {
  margin-left: 10%;
  text-align: left;
}


.short-note p:first-child {
  font-size: 1.2em;
  font-weight: 500;
}

.imp-message * {
  font-size: 2em;
  color: #28a386;
  margin-top: .5%;
}

@media screen and (max-width: 650px)  {
  .imp-message *, .short-note p:first-child{
    font-size: 1em;
  }

  .short-note {
    margin-top: 3%;
  }
}