.short-note {
  width: 70%;
  line-height: 1.5em;
}

.short-note > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
}

.short-note .social-holders {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.short-note p {
  margin-left: 10%;
  text-align: left;
}

.short-note p:first-child {
  font-size: 1.2em;
  font-weight: 500;
}

.imp-message * {
  font-size: 2em;
  color: #28a386;
  margin-top: .5%;
}