.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.all-projects > span {
  text-align: left;
}

.all-projects div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page-items {
  margin-top: 5%;
}

.page-items > div:nth-child(odd) {
  background: #fff;
}

.page-items > div:nth-child(even) {
  background: #003c3c;;
}


@media screen and (max-width: 650px) {
  .all-projects div {
    display: flex;
    flex-direction: column;
  }
}