.a-project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.a-project:nth-child(odd) {
  flex-direction: row;
}

.a-project:nth-child(even) {
  flex-direction: row-reverse;
}

.a-project img {
  max-width: 40%;
  height: 100%;
  margin: 2%;
  border-radius: 1em;
}

.a-project .a-project-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: .75rem 1rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.project_title {
  font-size: 1.2em;
}

.project_desc {
  font-size: 1.5vw; 
}

@media screen and (max-width: 750px) {
  .a-project {
    height: 15em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px) {
  .a-project {
    height: 15em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .project_title {
    font-size: 1em;
  }
  
  .project_desc {
    font-size: .9em;
  }
}