.a-project {
  position: relative;
  width: 40%;
  margin-bottom: 5em;
}

.a-project * {
  color: aliceblue;
}

.a-project img {
  width: 100%;
  height: 30em;
  border-radius: 1em;
}

.a-project .a-project-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: .75rem 1rem;
  transform: translateZ(3rem);
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.project_title {
  font-size: 1.5em;
}

.project_desc {
  font-size: 1.2em;
}

@media screen and (max-width: 650px) {
  .a-project {
    position: relative;
    width: 80%;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
  }
}